
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ADEN</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/css/DevExtremeBundle")
    @Scripts.Render("~/js/DevExtremeBundle")

</head>
<body>

    @Html.Partial("_StatusHeader")
    @Html.Partial("_Header")
    @Html.Partial("_NavBar")

    <div class="container-fluid">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/bootstrap")

    @*@Scripts.Render("~/bundles/jqueryval")*@

    @*<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    <script src="~/js/app/bootstrap.model.wrapper.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
