
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ADEN</title>

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/jquery")*@
    <link href="~/css/vendor.min.css" rel="stylesheet" />
    @*<link href="~/Content/site.css" rel="stylesheet" />*@
    <link href="~/css/main.min.css" rel="stylesheet" />
    <script src="~/js/vendor.min.js"></script>
    @Styles.Render("~/css/DevExtremeBundle")
    @Scripts.Render("~/js/DevExtremeBundle")
</head>
<body>

    @Html.Partial("_StatusHeader")
    @Html.Partial("_Header")
    @Html.Partial("_NavBar")

    <div class="container-fluid" id="content">
        <div id="loader" class="loader">

            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div class="page" id="page">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_Footer")

    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="~/js/app.min.js"></script>
    @*<script src="~/js/app/bootstrap.model.wrapper.js"></script>*@

    @*<script src="~/js/jquery.validate.custom.js"></script>*@
    @RenderSection("scripts", required: false)

</body>
</html>
