
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ADEN</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap-overrides.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/css/DevExtremeBundle")
    @Scripts.Render("~/js/DevExtremeBundle")

</head>
<body>

    @Html.Partial("_StatusHeader")
    @Html.Partial("_Header")
    @Html.Partial("_NavBar")

    <div class="container-fluid">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/app/bootstrap.model.wrapper.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    @*@Scripts.Render("~/bundles/bootstrap")*@


    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
