
<style>
    .navbar-nav > li > a {
        cursor: pointer;
    }

    .navbar.navbar-thin {
        margin-bottom: 0;
        border-bottom: none;
    }

    .navbar-thin {
        min-height: 30px;
    }
        .navbar-thin .navbar-nav > li > a, .navbar-thin.navbar-brand {
            padding-top: 5px;
            padding-bottom: 0;
            height: 30px;
        }
</style>

<header>

    <nav class="navbar navbar-inverse navbar-thin">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a><i class="fa fa-calendar"></i> @DateTime.Now.ToString("ddd, dd MMM yyy")</a>
                </li>
                <li>
                    <a><i class="fa fa-clock-o"></i> @DateTime.Now.ToString("h:mm tt")</a>
                </li>
                <li>
                    <a><i class="fa fa-globe"></i> @Html.RenderConfigurationValue("ENV") (@Environment.MachineName) @Html.RenderApplicationName()</a>
                </li>
                <li>
                    <a><i class="fa fa-database"></i> Development (@Html.RenderDataSource()) @Html.RenderDataName()</a>
                </li>
            </ul>
            
            @Html.UserNavBarMenuList("right")

        </div>
    </nav>

</header>
