
<style>
    .navbar-nav > li > a {
        cursor: pointer;
    }

    .navbar.navbar-thin {
        margin-bottom: 0;
        border-bottom: none;
        border: 0 solid transparent;
        border-radius: 0;
    }

    .navbar-thin {
        min-height: 30px;
    }

        .navbar-thin .navbar-nav > li > a, .navbar-thin.navbar-brand {
            padding-top: 5px;
            padding-bottom: 0;
            height: 30px;
        }


    /* Blue Navbar */
    .navbar.bg-blue {
        background-color: rgb(55,192,238);
        border-color: rgb(55,192,238);
    }
    /* Title */
    .navbar.bg-blue .navbar-brand {
        color: #000;
    }

    .navbar.bg-blue .navbar-brand:hover,
    .navbar.bg-blue .navbar-brand:focus {
        color: #5E5E5E;
    }


    /* Link */
    .navbar.bg-blue .navbar-nav > li > a {
        color: #000;
    }

    .navbar.bg-blue .navbar-nav > li > a:hover,
    .navbar.bg-blue .navbar-nav > li > a:focus {
        color: #55524f;
        background-color: #eee
    }

    /* Navbar Orange */
    .navbar.bg-orange {
        background-color: rgb(238,156,32);
        border-color: rgb(238, 156, 32);
    }
    /* Title */
    .navbar.bg-orange .navbar-brand {
        color: #000;
    }

    .navbar.bg-orange .navbar-brand:hover,
    .navbar.bg-orange .navbar-brand:focus {
        color: #5E5E5E;
    }


    /* Link */
    .navbar.bg-orange .navbar-nav > li > a {
        color: #000;
    }

    .navbar.bg-orange .navbar-nav > li > a:hover,
    .navbar.bg-orange .navbar-nav > li > a:focus {
        color: #55524f;
        background-color: #eee
    }


    /* Green Navbar */
    .navbar.bg-green {
        background-color: rgb(39,166,93);
        border-color: rgb(39,166,93)
    }
        /* Title */
        .navbar.bg-green .navbar-brand {
            color: #fff;
        }

            .navbar.bg-green .navbar-brand:hover,
            .navbar.bg-green .navbar-brand:focus {
                color: #5E5E5E;
            }


        /* Link */
        .navbar.bg-green .navbar-nav > li > a {
            color: #ffffff;
        }

    .navbar.bg-green .navbar-nav > li > a:hover,
    .navbar.bg-green .navbar-nav > li > a:focus {
        color: #55524f;
        background-color: #eee
    }

    /* Blue Navbar */
    .navbar.bg-light-blue {
        background-color: #00FFFF;
        border-color: #00FFFF;
    }
    /* Title */
    .navbar.bg-light-blue .navbar-brand {
        color: #000;
    }

    .navbar.bg-light-blue .navbar-brand:hover,
    .navbar.bg-light-blue .navbar-brand:focus {
        color: #5E5E5E;
    }


    /* Link */
    .navbar.bg-light-blue .navbar-nav > li > a {
        color: #000;
    }

        .navbar.bg-light-blue .navbar-nav > li > a:hover,
        .navbar.bg-light-blue .navbar-nav > li > a:focus {
            color: #55524f;
            background-color: #eee
        }

    /* Yellow Navbar */
    .navbar.bg-yellow {
        background-color: #FFFF00;
        border-color: #FFFF00;
    }
    /* Title */
        .navbar.bg-yellow .navbar-brand {
            color: #000;
        }

    .navbar.bg-yellow .navbar-brand:hover,
    .navbar.bg-yellow .navbar-brand:focus {
        color: #5E5E5E;
    }


    /* Link */
    .navbar.bg-yellow .navbar-nav > li > a {
        color: #000;
    }

    .navbar.bg-yellow .navbar-nav > li > a:hover,
    .navbar.bg-yellow .navbar-nav > li > a:focus {
        color: #55524f;
        background-color: #eee
    }


    /* White Navbar */
    .navbar.bg-white {
        background-color: #fff;
        border-color: #fff;
    }
    /* Title */
        .navbar.bg-white .navbar-brand {
            color: #000;
        }

    .navbar.bg-white .navbar-brand:hover,
    .navbar.bg-white .navbar-brand:focus {
        color: #5E5E5E;
    }


    /* Link */
    .navbar.bg-white .navbar-nav > li > a {
        color: #000;
    }

    .navbar.bg-white .navbar-nav > li > a:hover,
    .navbar.bg-white .navbar-nav > li > a:focus {
        color: #55524f;
        background-color: #eee
    }

</style>

<header>

    <nav class="navbar navbar-inverse navbar-thin bg-green">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a><i class="fa fa-calendar"></i> @DateTime.Now.ToString("ddd, dd MMM yyy")</a>
                </li>
                <li>
                    <a><i class="fa fa-clock-o"></i> @DateTime.Now.ToString("h:mm tt")</a>
                </li>
                <li>
                    <a><i class="fa fa-globe"></i> @Html.RenderConfigurationValue("ENV") (@Environment.MachineName) @Html.RenderApplicationName()</a>
                </li>
                <li>
                    <a><i class="fa fa-database"></i> Development (@Html.RenderDataSource()) @Html.RenderDataName()</a>
                </li>
            </ul>

            @Html.UserNavBarMenuList("right")

        </div>
    </nav>

</header>
