@model IEnumerable<WorkItem>

@if (!Model.Any())
{
    <h3>No work history</h3>
}
else
{
    <table class="table table-bordered table-striped">
        <tr>
            <td>Action</td>
            <td>Assign Date</td>
            <td>Completed Date</td>
            <td>Assigned User</td>
            <td>State</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.WorkItemAction.GetDisplayName()</td>
                <td>@item.AssignedDate.ToString("MM/dd/yyyy hh:mm AA")</td>
                <td>@item.CompletedDate</td>
                <td>@item.AssignedUser</td>
                <td>@item.WorkItemState.GetDisplayName()</td>
                <td>
                    @if (ViewBag.IsSectionAdmin && item.WorkItemState == WorkItemState.NotStarted)
                    {
                        <a href="@Url.Action("Reassign")" class="btn btn-default" data-reassign data-workitem-id="@item.Id">Reassign</a>
                    }
                </td>
            </tr>
        }
    </table>
}