@model IEnumerable<WorkItemHistoryDto>

@if (!Model.Any())
{
    <h3>No work history</h3>
}
else
{
    <table class="table table-bordered table-striped">
        <tr>
            <td>Task</td>
            <td>Assign Date</td>
            <td>Completed Date</td>
            <td>Assigned User</td>
            <td>Status</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.ActionDescription</td>
                <td>@item.AssignedDate</td>
                <td>@item.CompletedDate</td>
                <td>@item.AssignedUser</td>
                <td>@item.Status</td>
                <td class="no-wrap">
                    @if (ViewBag.IsSectionAdmin && item.WorkItemState == WorkItemState.NotStarted)
                    {
                        <a href="@Url.Action("Reassign")" class="btn btn-primary btn-sm" data-reassign data-workitem-id="@item.Id">Reassign</a>

                    }
                    @if (item.Action == WorkItemAction.SubmitWithError)
                    {
                        <a href="@Url.Action("Reassign")" class="btn btn-warning btn-sm" data-image-viewer data-workitem-id="@item.Id">Errors</a>
                    }
                </td>
            </tr>
        }
    </table>
}