@model IEnumerable<FileSpecification>
@{
    ViewBag.Title = "File Specifications";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="panel-title">
            <span class="panel-heading">File Specifications</span>
        </span>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td>Number</td>
                    <td>File Name</td>
                    <td>Version</td>
                    <td>Data Group</td>
                    <td>SEA</td>
                    <td>LEA</td>
                    <td>SCH</td>
                    <td>Due</td>
                    <td>Data Year</td>
                    <td>State</td>
                    <td>Completed</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var spec in Model)
                {
                <tr>
                    <td>
                        <a class="btn btn-default btn-sm" data-history data-title="Work History" href="/workitemhistory/@spec.DataYear/@spec.Id">
                            <i class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="left" title="History"></i>
                        </a>
                    </td>
                    <td>@spec.FileNumber</td>
                    <td>@spec.FileName</td>
                    <td>@spec.Version</td>
                    <td>data group</td>
                    <td>@Html.YesNo(spec.IsSEA)</td>
                    <td>@Html.YesNo(spec.IsLEA)</td>
                    <td>@Html.YesNo(spec.IsSEA)</td>
                    <td>@string.Format("{0:d}", spec.DueDate)</td>
                    <td>@string.Format("{0:d}", spec.DataYear)</td>
                    <td>@spec.ReportState.GetDisplayName()</td>
                    <td>
                        @if (spec.Reports.Any())
                            {
                            @spec.Reports.OrderBy(x => x.SubmittedDate).SingleOrDefault().SubmittedDate
                            }
                    </td>
                    <td>
                        @if (!spec.Reports.Any())
                            {
                            <button class="btn btn-default btn-sm" data-start data-filespec-id="@spec.Id">Start</button>
                            <button class="btn btn-default btn-sm" data-waiver data-filespec-id="@spec.Id">Waiver</button>
                            }
                        @if (spec.Reports.Any())
                            {
                            <a class="btn btn-default btn-sm" href="reports/@spec.FileNumber">Reports</a>
                            @*<a class="btn btn-default btn-sm" data-reset href="api/report/reset/@spec.FileNumber">Reset</a>*@
                            }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Report History</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            console.log('ready');

            $(document).on('click', '[data-start]', function (e) {
                e.preventDefault();
                console.log('start');
                var btn = $(this);
                var id = btn.data('filespec-id');
                $.ajax({
                    url: '/api/reports/create/' + id,
                    type: 'POST',
                    success: function (data) {
                        //play with data
                        console.log('data', data);
                    },
                    error: function (err) {
                        console.log('err', err);
                    }
                });
            });

            $(document).on('click', '[data-waiver]', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data('filespec-id');
                console.log('file spec', id);
                $.ajax({
                    url: '/api/reports/waiver/' + id,
                    type: 'POST',
                    success: function (data) {
                        //play with data
                        console.log('data', data);
                    },
                    error: function (err) {
                        console.log('err', err);
                    }
                });
            });

            $(document).on('click', '[data-history]', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                var title = $(this).data('title');
                $('.modal-title').html(title);
                $('.modal-body').load(url,
                    function () {
                        $('#myModal').modal({ show: true });
                    });
            });

            $('[data-toggle="tooltip"]').tooltip();

        });
    </script>
}
