@model ReportDto
@{
    ViewBag.Title = "Files";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="panel-title"> Files</span>
                    <span class="panel-subtitle">Eden report generation and submission results</span>
                </div>

                <div class="panel-body">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h3>@Model.FileName</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <dl>
                                <dt>Data Year</dt>
                                <dd>@Model.DisplayDataYear</dd>

                                <dt>Status</dt>
                                <dd>@Model.ReportState</dd>

                                <dt>Generated</dt>
                                <dd>
                                    @Model.GeneratedDate
                                    @if (!Model.GeneratedDate.HasValue)
                                    {
                                        <text>Not yet generated</text>
                                    }
                                </dd>

                                <dt>Approved</dt>
                                <dd>
                                    @Model.ApprovedDate
                                    @if (!Model.ApprovedDate.HasValue)
                                    {
                                        <text>Not yet approved</text>
                                    }
                                </dd>

                                <dt>Submitted</dt>
                                <dd>
                                    @*@Model.SubmittedDate.HasValue ? @Model.SubmittedDate : @DateTime.Now*@
                                    @Model.SubmittedDate
                                    @if (!Model.SubmittedDate.HasValue)
                                    {
                                        <text>Not yet submitted</text>
                                    }

                                </dd>

                            </dl>

                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Files
                                </div>
                                <div class="panel-body">
                                    <table class="table table-responsive">

                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Version</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        @foreach (var doc in Model.Documents)
                                        {
                                            <tr>
                                                <td><a href="#myModal" class="doc-link" data-document-viewer data-doc-id=@doc.Id data-url="/document/@doc.Id" data-toggle="modal" data-target="#myModal" data-title="@doc.Filename" title="@doc.Filename" data-placement="right" data-original-title="@doc.Filename">@doc.Filename</a></td>
                                                <td>@doc.Version</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                         

                        </div>
                    </div>


                    @*@(Html.DevExtreme()
                        .DataGrid().ID("grid").WordWrapEnabled(true)
                        .ShowRowLines(true)
                        .ShowBorders(true).FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                        .SearchPanel(searchPanel => searchPanel.Visible(true).Width(240).Placeholder("Search...")).HeaderFilter(headerFilter => headerFilter.Visible(true))
                        .Columns(c =>
                        {
                            c.Add().DataField("fileName");
                            c.Add().DataField("displayDataYear").Caption("Data Year");
                            c.Add().DataField("reportState").Caption("Status");
                            c.Add().DataField("generatedDate").DataType(GridColumnDataType.Date).Format("MM/dd/YYYY hh:mm");
                            c.Add().DataField("approvedDate").DataType(GridColumnDataType.Date).Format("MM/dd/YYYY hh:mm");
                            c.Add().DataField("submittedDate").DataType(GridColumnDataType.Date).Format("MM/dd/YYYY hh:mm");
                            c.Add().Caption("Documents").CssClass("documentList").CellTemplate(new JS("function(container, options) {createReportDocumentLinks(container, options);}"));
                        })
                        .DataSource(d => d.StaticJson().Url(@Url.Content("/api/report/" + @ViewContext.RouteData.Values["datayear"] + "/" + @ViewContext.RouteData.Values["filenumber"])).Key("id")))*@
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/js/app/app.module.min.js"></script>
    <script src="~/js/app/reports.module.min.js"></script>
}
